#video{
  background-color: var(--gray-color);
  .container{
    h2{
      margin-bottom: 20px;
    }
    video,iframe{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      display: block;
      aspect-ratio: 16/9;
    }
  }
}